<section class="hero pageHero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title montyFont">
        Sterling Management Group
      </h1>
      <h2 class="subtitle montyFont">
        The Office Manager
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <!-- what does sterling do -->
    <h3 class="subtitles">What does Sterling Management Group do?</h3>
    <br>
    <p class="latoFont">
      Sterling Management Group is the "office manager" for West Oaks Condos. They send monthly statements, collect assessments, monitor delinquent bills, and ensure that the HOA's bank account is balanced. WCM also monitors the condition of the community, and reports issues such as roof moss, bark dust erosion, and the like to the board. They also acts as the Board's day-to-day "eyes and ears", notifying owners or residents of any non-compliance with the HOA's regulations or other problems that might need their attention.
    </p>
    <hr>
    <br>

    <!-- when should I contact sterling -->
    <h3 class="subtitles">When should I contact Sterling Management Group ?</h3>
    <br>
    <p class="latoFont">
      Sterling Management Group is your primary point of contact for day-to-day questions about West Oaks Condos... that is, those questions you can't get answered on this web site! Common reasons are:
    </p><br>
    <ul class="bullets">
      <li class="latoFont">Billing questions about assessments.</li>
      <li class="latoFont">Mailing address changes for owners.</li>
      <li class="latoFont">Notifications of occupancy changes (change of renters, etc.).</li>
      <li class="latoFont">Landscape contractor concerns.</li>
      <li class="latoFont">Problems with common areas.</li>
    </ul>
    <hr>
    <br>

    <!-- how to contact sterling  -->
    <h3 class="subtitles">Sterling Management Contact Info</h3>
    <br>
    <ul class="noBullets">
      <li class="latoFont"><img src="/assets/img/icon-phone.png" class="contactIcon">&emsp;&emsp;(541) 757-1290</li>
      <br>
      <li class="latoFont"><img src="/assets/img/icon-email.png" class="contactIcon">&emsp;&emsp;<a href="mailto:liz@sterlingmanagement.net">liz@sterlingmanagement.net</a></li>
      <br>
      <li class="latoFont"><img src="/assets/img/icon-web.png" class="contactIcon">&emsp;&emsp;<a href="http://www.sterlingmanagement.net/">sterlingmanagement.net</a></li>
      <br>
      <li class="latoFont"><img src="/assets/img/icon-postbox.png" class="contactIcon">&emsp;&emsp;Sterling Management Group, 200 SW 4th Street Ste 102 Corvallis, OR 97333</li>
    </ul>
  </div>
</section>
