.box_header {
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

.box {
  background-color: #E5E5E5;
}

input {
  display: inline-block;
  float: left;
  background-color: #E5E5E5;
  border-radius: 3px;
  margin: 5px;
  width: 350px;
  height: 40px;
  box-shadow: 0px 0px !important;
}

label{
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  margin: 5px;
  height: 40px;
  text-align: left;
}


::placeholder {
  color: #000;
}
