<!-- admin edit-headlines -->
<div class="w3-card-4" *ngFor="let headline of headlines | async">
  <header class="w3-container w3-dark-grey">
    <div class="box_header">Edit the Latest Headlines</div>
  </header>
  <div class="w3-container">
    <form>
      <div class="card-content">
        <div class="form-group">
          <label for="h1">Headline text</label>
          <input id="h1" #h1 placeholder="{{headline.headlineOne}}">
        </div>
        <div class="form-group">
          <label for="h1un">URL name</label>
          <input id="h1un" #h1URLName placeholder="{{headline.linkOneName}}">
        </div>
        <div class="form-group">
          <label for="h1u">Headline URL</label>
          <input id="h1u" #h1URL placeholder="{{headline.linkOneURL}}">
        </div>
        <hr>
        <div class="form-group">
          <label for="h2">Headline text</label>
          <input id="h2" #h1 placeholder="{{headline.headlineTwo}}">
        </div>
        <div class="form-group">
          <label for="h2un">URL name</label>
          <input id="h2un" #h1URLName placeholder="{{headline.linkTwoName}}">
        </div>
        <div class="form-group">
          <label for="h2u">Headline URL</label>
          <input id="h2u" #h1URL placeholder="{{headline.linkTwoURL}}">
        </div>
        <hr>
        <div class="form-group">
          <label for="h3">Headline text</label>
          <input id="h3" #h1 placeholder="{{headline.headlineThree}}">
        </div>
        <div class="form-group">
          <label for="h3un">URL name</label>
          <input id="h3un" #h1URLName placeholder="{{headline.linkThreeName}}">
        </div>
        <div class="form-group">
          <label for="3u">Headline URL</label>
          <input id="h3u" #h1URL placeholder="{{headline.linkThreeURL}}">
        </div>
      </div>
      <footer class="card-footer">
        <a (click)="update(h1.value, h1URLName.value, h1URL.value, h2.value, h2URLName.value, h2URL.value, h3.value, h3URLName.value, h3URL.value)" class="card-footer-item">UPDATE</a>
      </footer>
    </form>
  </div>
</div>
