<div class="card edit-headline-card" >
  <header class="card-header">
    <p class="card-header-title is-centered">
      Write New Headlines
    </p>
  </header>
  <div class="card-content">
    <ng-container *ngFor="let h of headlines | async">
      <div class="columns">
        <div class="column">
          <form>
            <input [(ngModel)]="h.headline" #newheadline type="text" name="headline">
            <input [(ngModel)]="h.linkName" #newlinkurl type="text" name="urlname">
            <input [(ngModel)]="h.linkURL" #newurl type="text" name="url">
            <button (click)="updateNum(h.num); update(newheadline.value, newlinkurl.value, newurl.value)" class="button is-dark">UPDATE</button>
          </form>
        </div>
        <div class="column">
          <span class="oldHeadline">
            <p class="latoFont is-inline"><b>Headline:</b></p> <p class="latoFont is-inline">{{h.headline}}</p>
          </span>
          <br>
          <span class="oldHeadline">
            <p class="latoFont is-inline"><b>URL name:</b></p>
            <p class="latoFont is-inline">{{h.linkName}}</p>
          </span>
          <br>
          <span class="oldHeadline">
            <p class="latoFont is-inline"><b>URL:</b></p>
            <p class="latoFont is-inline">{{h.linkURL}}</p>
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
