
input {
  width: 100%;
  background-color: #E5E5E5;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
}

.card-header {
  background-color: #616161;
  height: 60px;
}

.card-header-title {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

::placeholder {
  color: #958FA2;
}

button {
  width: 100%;
  margin: 5px;
  background-color: #00CEA9 !important;
}

hr {
  margin: 10px !important;
}

.subHeader {
  text-align: center;
}

.oldHeadlineColumn {
  padding: 15px;
}

p {
  overflow: ellipsis;
}
