<!-- admin edit-headlines -->
<div class="card edit-headline-card" *ngIf="currentRoute === '/admin'">
  <header class="card-header">
    <p class="card-header-title is-centered">
      Write New Headlines
    </p>
  </header>

  <!-- one -->
  <form>
    <div class="card-content">
      <input class="headlineInput" #headline placeholder='First headline goes here'>
      <br>
      <input class="is inline" #linkName placeholder='Name of URL'>
      <input class="is inline" #linkURL placeholder='Actual URL, e.g. http://website.com'>
    </div>

    <div style="text-align:center;">
      <button (click)="update1(headline.value, linkName.value, linkURL.value)" class="button is-dark">UPDATE</button>
    </div>

  </form>

  <!-- two -->
  <form>
    <div class="card-content">
      <input class="headlineInput" #headline placeholder='First headline goes here'>
      <br>
      <input class="is inline" #linkName placeholder='Name of URL'>
      <input class="is inline" #linkURL placeholder='Actual URL, e.g. http://website.com'>
    </div>

    <div style="text-align:center;">
      <button (click)="update2(headline.value, linkName.value, linkURL.value)" class="button is-dark">UPDATE</button>
    </div>

  </form>

  <!-- three -->
  <form>
    <div class="card-content">
      <input class="headlineInput" #headline placeholder='First headline goes here'>
      <br>
      <input class="is inline" #linkName placeholder='Name of URL'>
      <input class="is inline" #linkURL placeholder='Actual URL, e.g. http://website.com'>
    </div>

    <div style="text-align:center;">
      <button (click)="update3(headline.value, linkName.value, linkURL.value)" class="button is-dark">UPDATE</button>
    </div>

  </form>

</div>
