<nav class="navbar is-fixed-top light-gray" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        Board
      </div>
      <div class="navbar-item">
        Minutes
      </div>
      <div class="navbar-item">
        Management
      </div>
      <div class="navbar-item">
        Budget
      </div>
      <div class="navbar-item">
        Documents
      </div>
      <div class="navbar-item">
        W.O.C. Encyclopedia
      </div>
    </div>
  </div>
</nav>
