nav {
  background-color: rgba(255,255,255,0.97);
}

.logo {
  height: 65px;
  margin-top: 15px;
}

a {
  font-weight: bold;
}

a:hover {
  color: #0A6343 !important;
  font-weight: bold;
  background-color: rgba(255,255,255,0) !important;
}

.navbar-brand, img, .logo, .level, a {
  background-color: rgba(255,255,255,0) !important;
}

.adminLink {
  color: #00CEA9 !important;
}

/* display mobile menu */
@media screen and (min-width: 0px) and (max-width: 1087px) {
  .anchor-logo { display: none; }
  .mobile-menu { display: block; width: 100%; }
  .anchor-burger {
    margin-left: 15px;
    margin-top: 10px;
  }
  a {
    text-align: center;
  }
  .closeNavMenu {
    height: 40px;
    background-color: #00CEA9;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-weight: bold;
  }
}

/* display desktop navbar */
@media screen and (min-width: 1088px) {
  .anchor-logo { display: block; }
  .mobile-menu { display: none; }
}

/* mobile menu */
.mini-menu {
  margin-bottom: 0;
}

@media screen and (min-width: 0px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) {
  .closeNavMenu {
    text-align: center;
  }
}
