<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <nav class="level">
        <a href="/" class="anchor-logo">
          <img src="/assets/img/logo1.2.png" class="logo">
        </a>
        <a class="anchor-burger" (click)="toggleNavMenu()">
          <img src="/assets/img/burger-icon-gray.png" style="height:30px;">
        </a>

      </nav>



    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a *ngIf="isLoggedIn" routerLink="admin" class="navbar-item montyFont adminLink">
          Admin
        </a>
        <a routerLink="directors" class="navbar-item montyFont">
          Board of Directors
        </a>
        <a routerLink="minutes" class="navbar-item montyFont">
          Minutes
        </a>
        <a routerLink="management" class="navbar-item montyFont">
          Management
        </a>
        <a routerLink="budget" class="navbar-item montyFont">
          Budget
        </a>
        <a routerLink="docs" class="navbar-item montyFont">
          Documents
        </a>
        <a routerLink="encyclopedia" class="navbar-item montyFont">
          W.O.C. Encyclopedia
        </a>
      </div>
    </div>
  </div>
</nav>
