.card {
  height: 550px;
  overflow: hidden;
}

form {
  padding: 10px;
}

input {
  background-color: #E5E5E5;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
}

.smallInputs {
  max-width: 150px !important;
}

#largeInputs {
  max-width: 230px !important;
}

.card-header {
  background-color: #616161;
  height: 60px;
}

.card-header-title {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}


::placeholder {
  color: #958FA2;
  text-align: center;
}

button {
  width: 250px;
  max-width: 250px;
  color: black;
  margin: 0 auto;
}

/* keep button at the bottom */
.foot {
  vertical-align : bottom;
}
