<!-- home page meeting -->
<div *ngIf="currentRoute === '/'">
  <div class="card" *ngFor="let meeting of meetings | async">
    <header class="card-header">
      <h1 class="card-header-title is-centered">Next Board Meeting</h1>
    </header>
    <div class="card-content">
      <div class="content">
        <h3 class="has-text-centered"><b>{{meeting.time}}</b> on <b>{{meeting.date}}</b></h3>
        <p class="place"><b>{{meeting.placeName}}</b></p>
        <p class="place">{{meeting.streetAddress}}</p>
        <p class="place">{{meeting.cityState}}</p><br>
        <p class="notes">{{meeting.notes}}</p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Link</a>
      <a href="/encyclopedia">Make a suggestion</a> or find out <a href="/directors">why you should come to Board meetings</a>.
      <a href="#" class="card-footer-item">Link</a>
      <a href="#" class="card-footer-item">Link</a>
    </footer>
  </div>
</div>

<!-- admin edit-meeting -->
<section *ngIf="currentRoute === '/admin'">
  <div class="container" style="text-align:center;">

    <div class="card edit-meeting-card">
      <header class="card-header">
        <p class="card-header-title is-centered">
          Schedule Next Meeting
        </p>
      </header>
      <form>
        <div class="card-content">
          <input #newTime placeholder="time">
          <input #newDate placeholder="date">
          <input #newPlace placeholder="place, e.g. 'Stormbreaker Brewery'">
          <input #newAddress placeholder="street address, '123 W Elm'">
          <input #newCityState placeholder="city and state">
          <input #newNotes placeholder="notes">
        </div>
        <footer class="card-footer">
          <a (click)="update(newTime.value, newDate.value, newPlace.value, newAddress.value, newCityState.value, newNotes.value)" class="card-footer-item">UPDATE</a>
        </footer>
      </form>
    </div>

  </div>
</section>
