<section class="hero pageHero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <h1 class="title montyFont">
            Board Meeting Minutes
          </h1>
        </div>
        <div class="column is-4">
          <!-- insert image here, perhaps? -->
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <!-- display this observable months2025 only if there are objects in the observable -->
    <div *ngIf="months2025" class="columns is-multiline">
      <div class="column is-one-third">
        <ul>
          <li *ngFor="let month of months2025 | async">
            <a href={{month.url}}> {{ month.fileName }} </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third">
        <ul>
          <li *ngFor="let month of months2016 | async">
            <a href={{month.url}}> {{ month.fileName }} </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third">
        <ul>
          <li *ngFor="let month of months2014 | async">
            <a href={{month.url}}> {{ month.fileName }} </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third">
        <ul>
          <li *ngFor="let month of months2013 | async">
            <a href={{month.url}}> {{ month.fileName }} </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third">
        <ul>
          <li *ngFor="let month of months2009 | async">
            <a href={{month.url}}> {{ month.fileName }} </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third">
        <ul>
          <li *ngFor="let month of months2008 | async">
            <a href={{month.url}}> {{ month.fileName }} </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third">
        <ul>
          <li *ngFor="let month of months2007 | async">
            <a href={{month.url}}> {{ month.fileName }} </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third">
        <ul>
          <li *ngFor="let month of months2006 | async">
            <a href={{month.url}}> {{ month.fileName }} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
