<section class="hero pageHero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <h1 class="title montyFont">
            Board Meeting Minutes
          </h1>
        </div>
        <div class="column is-4">
          <!-- insert image here, perhaps? -->
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="card">
      <div class="columns">
        <div class="column">
          <ul>
            <li *ngFor="let minute of minutes | async">
              <a href={{minute.url}}> {{ minute.fileName }} </a>
            </li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li *ngFor="let year of items | async">
              <a href={{year.url}}> {{ year.fileName }} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
