"<section class="hero pageHero">

    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8">"
            <h1 class="title montyFont">
              Board Meeting Minutes
            </h1>
          </div>
          <div class="column is-4">
            <!-- insert image here, perhaps? -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">

      <!-- display this observable months2025 only if there are objects in the observable -->
      <div class="columns is-multiline">


      <ng-container *ngIf="months2025 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">

          <div class="column is-one-third">
            <div class="tags has-addons">
              <span class="tag">Year</span>
              <span class="tag is-primary"><b>2025</b></span>
            </div>
            <ul>
              <li *ngFor="let month of months">
                <div class="columns">
                  <div class="column">
                    <a href={{month.url}}> {{ month.fileName }} </a>
                  </div>
                  <div *ngIf="isLoggedIn" class="column">
                    <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                      <span>Delete</span>
                      <span class="icon is-small">
                        <i class="fas fa-times"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </ng-container>
      </ng-container>


      <ng-container *ngIf="months2024 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">

          <div class="column is-one-third">
            <div class="tags has-addons">
              <span class="tag">Year</span>
              <span class="tag is-primary"><b>2024</b></span>
            </div>
            <ul>
              <li *ngFor="let month of months">
                <div class="columns">
                  <div class="column">
                    <a href={{month.url}}> {{ month.fileName }} </a>
                  </div>
                  <div *ngIf="isLoggedIn" class="column">
                    <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                      <span>Delete</span>
                      <span class="icon is-small">
                        <i class="fas fa-times"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </ng-container>
      </ng-container>



      <ng-container *ngIf="months2023 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2023</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2022 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2022</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2021 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2021</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2020 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2020</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2019 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2019</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2018 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2018</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2017 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2017</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2016 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2016</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2015 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2015</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2014 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2014</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2013 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2013</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2012 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2012</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2011 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2011</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2010 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2010</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2009 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2009</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2008 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2008</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2007 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2007</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-container *ngIf="months2006 | async as months">
        <ng-container *ngIf="months.length > 0; else nocontent">
        <div class="column is-one-third">
          <div class="tags has-addons">
            <span class="tag">Year</span>
            <span class="tag is-primary"><b>2006</b></span>
          </div>
          <ul>
            <li *ngFor="let month of months">
              <div class="columns">
                <div class="column">
                  <a href={{month.url}}> {{ month.fileName }} </a>
                </div>
                <div *ngIf="isLoggedIn" class="column">
                  <a class="button is-danger is-outlined" (click)="deleteMinute(month)">
                    <span>Delete</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
      </ng-container>

      <ng-template #nocontent>
      </ng-template>

    </div>
  </div>
</section>
