<section class="section">
  Map
  View and/or download a map of West Oaks Condos.

  Parking
  West Oaks Condos has a very limited number of parking spaces, so special rules have been put in place. Please follow them carefully; your car could be towed if you don't!

  Getting or Replacing Parking Permits: All residents' cars must have permits, and must be registered with Sterling Management Group (WCM) — (541) 602-1775 or email <a href="#">liz@sterlingmanagement.net</a>. Permits should be passed on by landlords, property managers, and/or sellers. Replacement permits are available for a fee through WCM.

  Types of Parking Spaces: There are three types of parking spaces at West Oaks Condos:

  RESERVED. Every unit is guaranteed one private parking space. (If a unit has a garage, the garage counts as that private space.) The non-garage private spaces have RESERVED stenciled on them, along with a space number. To use a RESERVED space, you must have a "Reserved" hang-tag permit that corresponds to that specific space, and that tag must be displayed on your mirror or dashboard. Residents of units with garages may NOT park in RESERVED spaces; they must use PERMIT spaces.
  PERMIT. Every unit also gets one "General Permit" hang tag that allows parking in PERMIT spaces. PERMIT spaces are first-come, first-served, and the hang tag must be displayed.
  GUEST. There is a limited number of GUEST spaces. These are for temporary use only, and are to be used only by visitors; residents' cars parked in GUEST spaces can be towed.
  Residents with More Cars than Spaces: It is not unusual for a unit to have more cars that spaces (e.g., the residents have two cars and are using the garage for storage, or a non-garage unit has three cars). Extra cars must be parked on Grand Oaks Drive. (Warning: Cars parked in the apartments are subject to towing.)


  Ventless Fireplace Precautions
  Introduction: The West Oaks Condos have "ventless" gas fireplaces installed. Although these units add heat and ambiance to your home, few homeowners realize that they also pose some potential health risks.

  The Equipment: Ventless gas fireplaces release all combustion products directly into the rooms where the units are installed. "Ventless" is a misnomer; these fixtures should actually be called "room-vented" fireplaces, since that is truly what they are. Traditional vented fireplaces are equipped with a flue that vents to the outdoors, saving humans and their pets from exposure to the bulk of the carbon monoxide (CO) and airborne particulates created by the natural gas. Some cities and states (California, Wisconsin and Montana and parts of Colorado, New York City) as well as all of Canada have outlawed their use.

  The Health Risk: Ventless fireplaces vent toxic carbon monoxide (CO) into the room. They also release very high levels of water vapor (up to 8 gallons of water per day with continuous use), which can lead to mold growth and a variety of other moisture-related building problems. Mold can be a serious health hazard (especially here in Oregon) for at-risk individuals, and it can damage fabric, photographs, books and building materials. The American Lung Association (ALA), the Center for Disease Control (CDC), the Environmental Protection Agency (EPA) and the Mayo Clinic have all issued warnings about the use of ventless fireplaces. These warnings are directed particularly with regard to pregnant women, the elderly, those with pre-existing cardio-vascular difficulties, and small children.

  The Solution: You must leave a window open when using the fireplace, to vent both the hazardous gases and the water vapor. The fireplace was designed for ambiance, not to heat the home – that’s the job of the electric “Cadet” heaters.

  Alternate Solution: You could replace your ventless fireplace with an inexpensive electric fireplace insert. This work requires a City of Corvallis building permit, and must be done by a licensed heating contractor or fireplace installer. PLEASE NOTE: Any modifications to the building envelope (e.g., installing a vent through the wall) is prohibited.


  Satellite Dishes
  Installation of a satellite dish at West Oaks Condos is subject to the following requirements:

  No holes may be made in the exterior walls, doors, or windows; no screws, nails, or other fasteners may penetrate the building.
  All dish installations require written approval from the board before any work can begin.
  The request must come from the unit owner, even if the unit is occupied by rental tenants.
  The antenna must be mounted on a pole next to the building, adjacent to the utility boxes where the master cable inlet is. An existing pole must be used for attennas — multiple antennas per pole — if feasible.
  The antenna must be connected to the unit's cable inlet connector in the utility box mounted outside the building. A dedicated cable that requires new penetration of the building envelope can NOT be run to the unit.
  (These requirements were revised in August of 2011, after the lawsuit was settled.)

  Trash and Recycling
  Trash and recycling are picked up from the garbage enclosure at the far west end of the complex. PLEASE put trash and recycling in the proper containers and pick up any trash that you spill on the ground.

  Please do NOT dump furniture or other large items in the trash enclosures. Republic Services will not take these items, and WOC OA (all owners!) will have to pay to have them hauled to the dump. These costs will be passed on directly to the responsible owner if the dumper can be identified!

  The Grand Oaks Apartments has notified West Oaks Condos that residents of West Oaks are continuing to use the garbage enclosure at the Grand Oaks Apartments. DO NOT PUT YOUR TRASH IN THE APARTMENT TRASH ENCLOSURE.

  If a resident of West Oaks Condos continues to use the trash enclosure belonging to the Grand Oaks Apartments, the apartments may call the Corvallis Police Department to report it as this activity is known as "Theft of Services." Depending on the frequency and severity of the dumping, this could be a class C misdemeanor with penalties up to a fine of $1250 and 30 days in jail to a Class A misdemeanor and a fine of up to $6250 and 1 year in prison


  Replace Washing Machine Hoses Every Five Years!
  Washing machine hoses get brittle after a few years. If a hose breaks, there is nothing to stop all that water pouring into your home, so replacing them regularly is very cheap insurance.

  You probably can do the job yourself. New hoses cost about $15 a pair at Robnett's or Home Depot, but we recommend that you spend $20 a pair for the stainless-steel-mesh-wrapped ones, because they're stronger. Take an old hose to the store with you so you'll get the right length.

  For a quick tutorial, <a href="https://www.youtube.com/watch?v=GAcncD6Ww5w">watch this video</a>. The video forgets to remind you to connect the hot water to the hot inlet of the washing machine and the cold to the cold - just replace one hose at a time and you'll be fine.
</section>
