<div class="card" *ngFor="let meeting of meetings | async">
  <header class="card-header">
    <h1 class="card-header-title is-centered raleway">Next Board Meeting</h1>
  </header>
  <div class="card-content">
    <div class="content">
      <h3 class="has-text-centered montyFont"><b>{{meeting.time}}</b> on <b>{{meeting.date}}</b></h3>
      <p class="place montyFont"><b>{{meeting.placeName}}</b></p>
      <p class="place montyFont">{{meeting.streetAddress}}</p>
      <p class="place montyFont">{{meeting.cityState}}</p><br>
      <p class="notes montyFont">{{meeting.notes}}</p>
    </div>
  </div>
  <footer class="card-footer">
    <a href="/encyclopedia" class="card-footer-item montyFont">Make a suggestion</a>
    <a href="/directors" class="card-footer-item montyFont">Why should you come to Board meetings?</a>
  </footer>
</div>
