.card-header {
  height: 56px;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 27px;
  font-weight: 300;
}

hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

.time-tag {
  font-size: 1.2em !important;
}
