<div class="w3-card-4" *ngFor="let headline of headlines | async">
  <header class="w3-container w3-light-grey">
    <h1 class="card-header-title is-centered raleway">Latest Headlines</h1>
  </header>
  <div class="w3-container">
    <div class="content">
      <!-- headline 1 -->
      <ul class="w3-ul">
        <li>
          <h3 class="montyFont">{{headline.headlineOne}}</h3>
          <a href={{headline.linkOneURL}}>{{headline.linkOneName}}</a>
        </li>
        <li>
          <h3 class="montyFont">{{headline.headlineTwo}}</h3>
          <a href={{headline.linkTwoURL}}>{{headline.linkTwoName}}</a>
        </li>
        <li>
          <h3 class="montyFont">{{headline.headlineThree}}</h3>
          <a href={{headline.linkThreeURL}}>{{headline.linkThreeName}}</a>
        </li>
      </ul><br>
    </div>
  </div>

</div>
