<div class="w3-card-4" *ngFor="let headline of headlines | async">
  <header class="w3-container w3-light-grey">
    <h1 class="card-header-title is-centered raleway">Latest Headlines</h1>
  </header>
  <div class="w3-container">
    <div class="content">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="/assets/img/profile.jpg" class="w3-circle">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>West Oaks Condos</strong> <small>@westoakscondos</small>
              <br>
              <span class="w3-large">{{headline.headlineOne}}</span><br>
              <span><a href={{headline.linkOneURL}}>{{headline.linkOneName}}</a></span>
            </p>
          </div>
        </div>
      </article><hr>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="/assets/img/profile.jpg" class="w3-circle">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>West Oaks Condos</strong> <small>@westoakscondos</small>
              <br>
              <span class="w3-large">{{headline.headlineTwo}}</span><br>
              <span><a href={{headline.linkTwoURL}}>{{headline.linkTwoName}}</a></span>
            </p>
          </div>
        </div>
      </article><hr>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="/assets/img/profile.jpg" class="w3-circle">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>West Oaks Condos</strong> <small>@westoakscondos</small>
              <br>
              <span class="w3-large">{{headline.headlineThree}}</span><br>
              <span><a href={{headline.linkThreeURL}}>{{headline.linkThreeName}}</a></span>
            </p>
          </div>
        </div>
      </article><br>


      <!-- <li class="w3-bar">
        <span onclick="this.parentElement.style.display='none'"
        class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span>

        <div class="w3-bar-item">
          <span class="w3-large">{{headline.headlineOne}}</span><br>
          <span><a href={{headline.linkOneURL}}>{{headline.linkOneName}}</a></span>
        </div>
      </li>
      <li class="w3-bar">
        <span onclick="this.parentElement.style.display='none'"
        class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span>
        <img src="/assets/img/profile.jpg" class="w3-bar-item w3-circle" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">{{headline.headlineTwo}}</span><br>
          <span><a href={{headline.linkTwoURL}}>{{headline.linkTwoName}}</a></span>
        </div>
      </li>
      <li class="w3-bar">
        <span onclick="this.parentElement.style.display='none'"
        class="w3-bar-item w3-button w3-xlarge w3-right">&times;</span>
        <img src="/assets/img/profile.jpg" class="w3-bar-item w3-circle" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">{{headline.headlineThree}}</span><br>
          <span><a href={{headline.linkThreeURL}}>{{headline.linkThreeName}}</a></span>
        </div>
      </li> -->
    </div>
  </div>

</div>
