<section class="hero pageHero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title montyFont">
        Budget
      </h1>
      <h2 class="subtitle montyFont">
        <!-- intentionally blank -->
      </h2>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="columns">
      <div class="column is-9 main-content">
        <h3 class="subtitles">How are my dues calculated?</h3>
        <br>
        <p class="latoFont justified">
        	Owners pay dues (assessments) based on their declared interest (percent ownership) in the common elements (see declaration <a href="https://westoakscondos.org/docs">here</a>). The total annual budget is divided amongst owners based on this declared interest. See the 2021 dues schedule <a href="https://firebasestorage.googleapis.com/v0/b/west-oaks-fe502.appspot.com/o/budget%2F1606540694768_WOCA%202021%20Dues.pdf?alt=media&token=fb003e90-0cfd-482e-9e42-88b6c8044df4">here</a>.
        </p>
        <hr>
        <br>
        <h3 class="subtitles">What is the reserve fund for?</h3>
        <br>
        <p class="latoFont justified">
		The board is required by Oregon state law to establish and fund a reserve account. This banks money for the eventual replacement of association property that is likely to wear out or require refurbishment: things like exterior paint, roofs, parking lot paving, sidewalks, etc. The board reviews and updates the reserve study annually, and may occasionally have a new reserve study conducted. The most recent comprehensive reserve study was done by PONO Building Consultants in 2020. You can read the full study report <a href="https://firebasestorage.googleapis.com/v0/b/west-oaks-fe502.appspot.com/o/other%2F1604975092848_WOCA%202020%20Reserve%20Study.pdf?alt=media&token=9aeb6c46-a156-49e2-9ccd-389f1e5f2ac0">here</a>.
        </p>
        <br>
      </div>
      <div class="column is-3">
        <div class="w3-card-4">
          <header class="w3-container w3-light-grey">
            <h1 class="card-header-title is-centered raleway">Budget PDFs</h1>
          </header>
          <div class="card-content">
            <div class="w3-container">
              <ul>
                <li *ngFor="let budget of budgets | async" class="noBullets">
                  <a class="budgetLinks" href={{budget.url}}> {{ budget.fileName }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
