
<div class="container">
  <div class="columns">
    <div class="column">
      <div class="box">
        <span class="box_header">Upload Minutes</span>
        <upload-minutes></upload-minutes>
      </div>
      <hr>
    </div>
    <div class="column">
      <div class="box">
        <span class="box_header">Upload Budget</span>
        <upload-budget></upload-budget>
      </div>
      <hr>
    </div>
    <div class="column">
      <div class="box">
        <span class="box_header">Upload Documents</span>
        <upload-documents></upload-documents>
      </div>
      <hr>
    </div>
  </div>








</div>

<!-- <section class="section">

    <div *ngFor="let content of contents | async">
      <div [froalaEditor] [(froalaModel)]="content.body"></div>
    </div>

</section> -->
