<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Admin Panel
      </h1>
      <h2 class="subtitle">
        Edit information visible to users
      </h2>
    </div>
  </div>
</section>

<div class="container">

  <div class="columns top">
    <div class="column">
      <div class="w3-card-4">
        <header class="w3-container w3-dark-grey">
          <div class="box_header">Upload Minutes</div>
        </header>
        <div class="w3-container">
          <upload-minutes></upload-minutes>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="w3-card-4">
        <header class="w3-container w3-dark-grey">
          <div class="box_header">Upload Budget</div>
        </header>
        <div class="w3-container">
          <upload-budget></upload-budget>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="w3-card-4">
        <header class="w3-container w3-dark-grey">
          <div class="box_header">Upload Documents</div>
        </header>
        <div class="w3-container">
          <upload-documents></upload-documents>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-card-4 meetings">
    <header class="w3-container w3-dark-grey">
      <div class="box_header">Upcoming Meetings</div>
    </header>
    <div class="w3-container">
      <!-- <div [froalaEditor] [(froalaModel)]="dsfsdfsdfs"></div> -->
      <app-edit-meeting></app-edit-meeting>
    </div>
  </div>
</div>
