ul {
  margin-left: 10px;
  margin-right: 10px;
}

.justified {
  text-align: justify;
}

.linkGroup {
  margin-top: 10px;
}

.docLinks {
  color: #3273dc;
  font-size: 1.2em;
}

.smallSubtitles {
  margin-bottom: 10px;
}


/* .detailBudgetsSubtitle {
  margin-left: 20px;
  color: #2d3436;
} */
