
a {
  color: #74b9ff;
}

/* sidebar */
.noBullets {
  list-style: none !important;
  margin-left: 20px;

}

.detailBudgetsSubtitle {
  margin-left: 20px;
  color: #2d3436;
}

.justified {
  text-align: justify;
}

.main-content {
  padding-right: 50px;
}
