ul {
  margin-left: 10px;
  margin-right: 10px;
}

.justified {
  text-align: justify;
}

.linkGroup {
  margin-top: 10px;
}


.smallSubtitles {
  margin-bottom: 10px;
}

.deleteLink {
  color: #FF0052;
}

.deleteLink:hover {
  border-radius: 3px;
  background-color: #FF0052;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px; 
}

.inlineBlock {
  display: inline-block;
}
