<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
        <h1 class="title raleway">West Oaks</h1>
        <h2 class="subtitle raleway">CONDOMINIUM ASSOCIATION</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="colorOverlay">
    <div class="container">
      <div class="columns features">
        <div class="column">
          <app-display-headline></app-display-headline>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <app-display-meeting></app-display-meeting>
      </div>
      <div class="column">
        <ng4-twitter-timeline [dataSrc]="{sourceType: 'profile',screenName: 'WestOaksCondos'}" [opts]="{tweetLimit: 2}"></ng4-twitter-timeline>
      </div>
      <div class="column">
        <div class="w3-card-4">
          <div class="card-content">
            <div class="w3-container">
              <div>
                <a href="https://www.facebook.com/westoakscondos/"><img src="/assets/img/FindUsFacebook.png" class="iconFacebook"></a>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a class="w3-button w3-block w3-dark-grey" href="mailto:board@westoakscondos.org"> Make a suggestion</a>
          </footer>
        </div>
        <br>
        <a href="https://sterlingmgmt.appfolio.com/connect/users/sign_in" class="button is-medium HOAbutton latoFont"><b>Pay HOA Dues</b></a>
      </div>
    </div>
  </div>
</section>

<!-- contact -->
<section class="section w3-light-grey">
  <div class="contact raleway">Contact Us</div>
  <div class="container">
    <div class="columns contact-us">
      <div class="column">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe class="map" id="gmap_canvas" src="https://maps.google.com/maps?q=west%20oaks%20condos&t=k&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
          <style>.mapouter{text-align:right;}.gmap_canvas {overflow:hidden;background:none!important;}</style>
        </div>
      </div>
      <div class="column latoFont details-box">

          <p class="latoFontSmall">If your bank requires contact information for automatic bill payment, or if you are a Title Company with inquiries, please contact <i>Sterling Management Group</i> via the following:</p>
          <ul class="w3-ul w3-padding-medium w3-border contacts-list">
            <li class="latoFont"><i class="fa fa-phone w3-large" style="margin-right: 10px;"></i> <span>541-757-1290</span></li>
            <li class="latoFont"><i class="fa fa-at w3-large" style="margin-right: 10px;"></i> <a class="w3-large" href="mailto:liz@sterlingmanagement.net">liz@sterlingmanagement.net</a></li>
            <li class="latoFont"><i class="fa fa-envelope w3-large" style="margin-right: 10px;"></i> <span class="w3-large">200 SW 4th Street Ste 102 Corvallis, OR 97333</span></li>
          </ul>
          <p class="latoFontSmall"><b>Note to escrow officers:</b> some units' garages require separate titles. Please research each case individually.</p>
          <p class="latoFontSmall"><b>Note to Realtors:</b> West Oaks Condos does not have a pool or rec center. The nearby apartment facilities are NOT available for WOC residents.</p>

      </div>
    </div>
  </div>
</section>
