@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.card-content {
  background-color: #F5F5F5;
}

.hero {
  width: 100%;
  background-image: url('/assets/img/coverMain.jpg');
  background-position: center center;
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  color: #fff !important;
  display: block;
  font-size: 3.5em !important;
  max-width: 600px;
  font-weight: 350 !important;
}

.subtitle {
  color: #e3e7ea;
}

iframe.map {
  width: 100%;
  height: 360px;
}

.contact {
  text-align: center;
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 30px;
}

section {
  padding-top: 20px;
}

.contact-us {
  background-color: #fff;
}

.details-box {
  padding: 30px;
}

.contacts-list {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
}

.card-header {
  height: 56px;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 27px;
  font-weight: 300;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

.HOAbutton {
  min-height: 75px;
  width: 100%;
  background-color: #00C295;
  color: #fff;
}

.suggestionButton {
  min-height: 75px;
  width: 100%;
  background-color: #616161;
  color: #fff;
}
