<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">

        <h1 class="title">West Oaks Condos</h1>


    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns features">

      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image has-text-centered">
            <i class="fa fa-empire"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Tempor orci dapibus ultrices in.</h4>
              <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
              sed risus.</p>
              <p><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>

      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image has-text-centered">
            <i class="fa fa-empire"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Tempor orci dapibus ultrices in.</h4>
              <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
              sed risus.</p>
              <p><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <ng4-twitter-timeline [dataSrc]="{sourceType: 'profile',screenName: 'WestOaksCondos'}" [opts]="{tweetLimit: 1}"></ng4-twitter-timeline>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- next meeting -->
<section class="section">
  <div class="container">
    The next meeting will be held April 26, 2018, at 5pm at Sterling Management's downtown office (200 SW 4th Street - Corvallis OR 97333).

    American Dream pizza will be provided. We encourage you to come to the meetings. Please email liz@sterlingmanagement.net in advance of the meeting if you would like to attend virtually.

    <a href="/encyclopedia">Make a suggestion</a> or find out <a href="/directors">why you should come to Board meetings</a>.
  </div>
</section>

<!-- maintenance projects -->
<section class="section">
  <div class="container">
    <!-- NO CONTENT ON ORIGINAL SITE -->
  </div>
</section>

<!-- contact -->
<section class="section light-gray">
  <div class="container">
    If your bank requires contact information for automatic bill payment, or if you are a Title Company with inquiries, please contact Sterling Management Group via the following:

    - E-mail at liz@sterlingmanagement.net
    Mail to 200 SW 4th Street Ste 102 Corvallis, OR 97333
    - Telephone at 541-757-1290

    Note to escrow officers: some units' garages require separate titles. Please research each case individually.

    Note to Realtors: West Oaks Condos does not have a pool or rec center. The nearby apartment facilities are NOT available for WOC residents.
  </div>
</section>
