@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.hero {
  width: 100%;
  background: linear-gradient(45deg, #2C3E50 0%, #34495E 49%, #2C3E50 100%), url("/assets/img/hero-bg.png");
  background-position: center center;
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  color: #b2bec3 !important;
  display: block;
  font-size: 3em !important;
  max-width: 500px;
  font-family: 'Montserrat', sans-serif;
  /*text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;*/

}
