<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="box">
        <h1 class="title raleway">West Oaks Condos</h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="colorOverlay">
    <div class="container">
      <div class="columns features">
        <div class="column is-6">
          <!-- next meeting -->
          <app-display-meeting></app-display-meeting>
        </div>
        <div class="column is-6">
          <div class="card is-shady">
            <ng4-twitter-timeline [dataSrc]="{sourceType: 'profile',screenName: 'WestOaksCondos'}" [opts]="{tweetLimit: 1}"></ng4-twitter-timeline>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- maintenance projects -->
<section class="section">
  <div class="container">
    <!-- NO CONTENT ON ORIGINAL SITE -->
  </div>
</section>

<!-- contact -->
<section class="section light-gray">
  <div class="container">
    If your bank requires contact information for automatic bill payment, or if you are a Title Company with inquiries, please contact Sterling Management Group via the following:

    - E-mail at liz@sterlingmanagement.net
    Mail to 200 SW 4th Street Ste 102 Corvallis, OR 97333
    - Telephone at 541-757-1290

    Note to escrow officers: some units' garages require separate titles. Please research each case individually.

    Note to Realtors: West Oaks Condos does not have a pool or rec center. The nearby apartment facilities are NOT available for WOC residents.
  </div>
</section>
