/* colors and fonts */

.raleway {
  font-family: 'Raleway', sans-serif;
}

.montyFont {
  font-family: 'Montserrat', sans-serif;
}

.latoFont {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.light-gray {
  background-color: #b2bec3 !important;
}

.light-green {
  background-color: #00b894 !important;
}

.dark-gray {
  background-color: #636e72 !important;
}

.madfang {
  background-color: #03A678 !important;
}

/* other classes */

.subtitles {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #03A678;
}

/* the hero panel at the top of every page except the home page */

.pageHero {
  background-color: #fff !important;
}

html, body {
  min-height: 100%;
}

body {
  margin-top: 115px !important;
  position: relative;
}

/* dropzone */

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border: 2px dashed #000;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }
}

.dropzone.hovering {
  border: 2px solid #00CEA9;
  color: #dadada !important;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
