/* COLORS */
.light-gray {
  background-color: #b2bec3 !important;
}

.light-green {
  background-color: #00b894 !important;
}

.dark-gray {
  background-color: #636e72 !important;
}

.madfang {
  background-color: #03A678 !important;
}

body {
  margin-top: 115px !important;
}
