/* COLORS */
.light-gray {
  background-color: #b2bec3 !important;
}

.light-green {
  background-color: #00b894 !important;
}

.dark-gray {
  background-color: #636e72 !important;
}

.madfang {
  background-color: #03A678 !important;
}

body {
  margin-top: 115px !important;
  min-height: 60% !important;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border: 2px dashed #000;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
