<section class="section">

  <div *ngFor="let content of contents | async" >
    <h3><em>{{content.title}}</em> by {{content.body}}</h3>
  </div>

  Who is on the Board?
  The Board consists of three elected directors. Officer positions are chosen by the Board Members.
   	VACANT (contact the Board of Directors if you are interested in serving in this position)	board@westoakscondos.org
   	Chip Clough (through 2018)	board@westoakscondos.org
   	Daniel Hough, President/Treasurer (through 2019)	daniel@westoakscondos.org
   	Mitch Mannino (through 2018)	mitch@westoakscondos.org
   	 	You also can e-mail the entire Board.

  How do I contact the Board and the Association?
  You can e-mail the Board using the addresses above. You can always find the Board at the regular meetings, too; you always are invited!


  What does the Board do?
  The Board represents the owners and residents of the West Oaks Condos in all business dealings related to the running of the Community. The Board sets each year's budget, and approves expenditures for landscaping, utilities and maintenance for common areas, and business management services for the community. The Board also enforces the Conditions, Covenants and Restrictions (CCRs) that govern appearance and other characteristics of the West Oaks Condos community.

  The Board meets regularly to conduct business. We encourage owners and residents to attend so they have a feel for how the community is run. The Board also hosts an annual meeting for the owners, at which important information is shared, and general decision-making and information is conducted.

  The Board does <b>not</b> itself handle the day-to-day business of the community, such as billing owners for assessments, paying bills, liaising with landscapers and other contractors, and so on. For this, the Board has contracted with Sterling Management Group as our Community Management firm. For full details of what Sterling Management Group does and how to contact them, visit the <a href="/management">Community Management</a> page.


  How can I see next meeting's Agenda?
  The Board meets monthly, on the first Thursday of each month. The agenda for the next Board meeting is usually posted here on the web site one week in advance, and will also be posted on the community bulletin board near the mailboxes. To view it, click the link on the Home page in the Next Board of Directors Meeting box, or <a href="#">click here</a>. We welcome your comments and suggestions.


  How can I see past Board decisions and minutes?
  A running history of the Board meetings will be found on the <a href="/minutes">Board Decisions and History</a> page, which is easily accessed via the left-hand menu on every page.


  When should I contact the Board?
  The Board is always happy to hear from residents and owners, and contacting the Board is often a necessary step for doing certain things to your home or its surroundings. Most people will contact the Board for the following sorts of things:

  Questions about the budget.
  Concerns about Common Areas (e.g., pathways and greenbelts).
  Questions about the CC&Rs or other policy issues.
  Help with disputes between neighbors.

  What's the budget — where does my assessment money go?
  For a full breakdown of the budget and how your assessments are used, click on Budget in the left-hand menu, or <a href="/budget">click here</a>.

</section>
